/!111111111111111
/$RECYCLE.BIN
/.vs
/2 задание
/384c397f-dd34-42d8-9a50-88e6754364d6.jpg
/64х
/ASM
/asm multimodule
/asm sort array
/ASM на 14.03
/ASM1 Костюкевич
/ass 28.02.2022
/ass cycle
/assembler array A(20)
/assembler EE(i+j)
/build-OperatorPlusEq-Desktop_Qt_5_15_2_MinGW_64_bit-Debug
/build-untitled3-Desktop_Qt_5_14_2_MinGW_32_bit-Debug
/Class Rational.cpp
/ConsoleApplication1
/ConsoleApplication10
/ConsoleApplication11
/ConsoleApplication12
/ConsoleApplication13
/ConsoleApplication2
/ConsoleApplication3
/ConsoleApplication4
/ConsoleApplication5
/ConsoleApplication6
/ConsoleApplication7
/ConsoleApplication8
/ConsoleApplication9
/coursera
/Debug
/DjVuLibre
/FlashIntegro
/GeomShapes1
/GeomShapes1.sln
/git
/hello_world.cpp
/ImageDraw.cpp
/ImageDraw.h
/ImageDraw.pro
/ImageDraw.pro.user
/in.txt
/install-tl-20211002
/IteratorsTree.cpp
/IteratorsTree.h
/KBinaryTree2020.cpp
/kr1-gr3b-var01-kostukevich-polina
/KRat.cpp
/KRat.h
/KRecordFileStu2 Доп.cpp
/KSimpleBTree2020
/KSimpleBTree2020.sln
/LambdaStart.cpp
/List2019
/List2019.sln
/ListDoc1.jpg
/ListDoc2.jpg
/ListOnArray
/ListOnArray.sln
/main.cpp
/Microsoft VS Code
/multimodule
/out.txt
/Project1
/Project2
/Project3
/qt works
/qt-unified-windows-x86-4.3.0-1-online (1).exe
/qt-unified-windows-x86-4.3.0-1-online.exe
/Qt2
/qtinstall
/Qt_examples
/rational.cpp
/rational.h
/RationalSimple
/RationalSimple.sln
/Regex1
/repos
/Samle 28.03
/scoped_dir13056_1062915469
/SimpleList3
/SimpleList4
/SimpleList5
/StackTE
/sum
/switch
/System Volume Information
/TestSpiral
/TestSpiral.sln
/texlive
/UnitTest2
/untitled
/untitled2
/untitled3
/x64
/винапи
/вывод бинарного дерева.txt
/еду фпми 2 задание
/задание 4
/Задача на использование MAP
/Задача на использование MAP.sln
/кир
/классы страуструп
/Контр
/Контр.sln
/контрольная класс
/Костюкевич, constexpr, вариант 5
/Костюкевич, unordered_set
/Костюкевич, вариант 3, кр
/Костюкевич, графы, вариант 5
/Костюкевич, деревья, вариант 8
/Костюкевич, иерархия, вариант 6
/Костюкевич, кр2, вариант 1.2
/Костюкевич, Наследование, вариант 6
/Костюкевич, свёртка
/Костюкевич, шаблоны, вариант 5
/кр2
/кр2020 вариант 2
/КР_Костюкевич
/кьют
/латекс
/многочлены
/Наумов №10 Rational
/поменять местами элементы списка
/рац класс
/свертка проверка
/спираль 2
/списки
/списки еду
/степик указатели
/степик циклы
/страуструп 3 глава
/страуструп глава 4
/страуструп глава 5
/теория
/файлы
/№11 списки